@import '../../../../node_modules/@angular/material/theming';

.plan-team-form-group{
    width: 100%;
    mat-form-field{
        width: 100%;
    }
}

mat-expansion-panel-header{
    background-color: mat-color($mat-orange, 500);
}