<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Qwalatee</span>
    <span class='app-toolbar-spacing'></span>
    <mat-icon [matMenuTriggerFor]="menu">settings</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="(isAdmin)">
        <mat-icon>supervisor_account</mat-icon>
        <span>Admin</span>
      </button>
      <button mat-menu-item>
        <span class="toolbar-login" (click)="login()" *ngIf="!authState else logoutBtn">
          <mat-icon>input</mat-icon>
          Login
        </span>
        <ng-template #logoutBtn>
          <mat-icon>logout</mat-icon>
          <span (click)="logout()">Logout</span>
        </ng-template>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
