<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Set Aim For The Task Force
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="planForm" (ngSubmit)="submitHandler()" class="plan-aim-form-group">
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="planAimDescription" placeholder="Should be set by the Quality Improvement Committee and SMART.">
    </textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="planAimTypeWhy" placeholder="Is it Quality Improvement or Quality Assurance? Why?"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="planAimWhichSystem" placeholder=" Which systems will be affected by the improvement efforts?"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="planAimBlockers" placeholder="What can the Task Force do or not do without the QI Committee?"></textarea>
    </mat-form-field>
    <button>Submit Form</button>
  </form>
</mat-expansion-panel>
